In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot

In [4]:
df = pd.read_csv(r"C:\Users\Student\ahdurrrr\GDP_Visualization\Data\world_Bank.csv")

In [5]:
df_melt = pd.melt(df, id_vars=['Series Name', 'Series Code', 'Country Name', 'Country Code'], 
                  var_name='Year', value_name='Value')

In [6]:
df_melt.head()

,Series Name,Series Code,Country Name,Country Code,Year,Value
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,1999 [YR1999],19262847
1,"Population, total",SP.POP.TOTL,Albania,ALB,1999 [YR1999],3108778
2,"Population, total",SP.POP.TOTL,Algeria,DZA,1999 [YR1999],30346083
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,1999 [YR1999],57594
4,"Population, total",SP.POP.TOTL,Andorra,AND,1999 [YR1999],65655

In [7]:
df_melt['Year'] = df_melt['Year'].str.extract('(\d{4})')[0]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Student\AppData\Local\Temp\ipykernel_7836\861976716.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_melt['Year'] = df_melt['Year'].str.extract('(\d{4})')[0]

In [8]:
df_restructured = df_melt.pivot_table(index=['Country Name', 'Country Code', 'Year'], 
                                      columns='Series Name', 
                                      values='Value', 
                                      aggfunc='first').reset_index()

In [9]:
df_restructured.head()

Series Name,Country Name,Country Code,Year,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Agriculture, forestry, and fishing, value added (% of GDP)",Births attended by skilled health staff (% of total),CO2 emissions (metric tons per capita),"Contraceptive prevalence, any method (% of married women ages 15-49)",Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),...,"Prevalence of HIV, total (% of population ages 15-49)","Prevalence of underweight, weight for age (% of children under 5)","Primary completion rate, total (% of relevant age group)","Revenue, excluding grants (% of GDP)","School enrollment, primary and secondary (gross), gender parity index (GPI)","School enrollment, secondary (% gross)",Start-up procedures to register a business (number),Surface area (sq. km),Total debt service (% of GNI),"Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)"
0,Afghanistan,AFG,1999,154.416,..,..,0.0582468417051747,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
1,Afghanistan,AFG,2000,152.572,..,12.4,0.0551666066110075,5.3,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
2,Afghanistan,AFG,2001,150.863,..,..,0.0552927191691124,..,..,..,...,0.1,..,..,..,0,12.3246202468872,..,652860,..,..
3,Afghanistan,AFG,2002,148.141,38.6278918638443,..,0.0668101379335566,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,0.372506682976489
4,Afghanistan,AFG,2003,143.37,37.4188554431481,14.3,0.0730049683971786,10.3,..,..,...,0.1,..,..,..,0.544260025024414,12.5488901138306,..,652860,..,0.405407508087606

In [10]:
df_restructured.columns.name = None  # Remove the name for columns
df_restructured.rename(columns=lambda x: x.replace(', ', '_').replace(' ', '_').lower(), inplace=True)

In [11]:
df_restructured.head()

,country_name,country_code,year,"adolescent_fertility_rate_(births_per_1,000_women_ages_15-19)",agriculture_forestry_and_fishing_value_added_(%_of_gdp),births_attended_by_skilled_health_staff_(%_of_total),co2_emissions_(metric_tons_per_capita),contraceptive_prevalence_any_method_(%_of_married_women_ages_15-49),electric_power_consumption_(kwh_per_capita),energy_use_(kg_of_oil_equivalent_per_capita),...,prevalence_of_hiv_total_(%_of_population_ages_15-49),prevalence_of_underweight_weight_for_age_(%_of_children_under_5),primary_completion_rate_total_(%_of_relevant_age_group),revenue_excluding_grants_(%_of_gdp),school_enrollment_primary_and_secondary_(gross)_gender_parity_index_(gpi),school_enrollment_secondary_(%_gross),start-up_procedures_to_register_a_business_(number),surface_area_(sq._km),total_debt_service_(%_of_gni),water_productivity_total_(constant_2015_us$_gdp_per_cubic_meter_of_total_freshwater_withdrawal)
0,Afghanistan,AFG,1999,154.416,..,..,0.0582468417051747,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
1,Afghanistan,AFG,2000,152.572,..,12.4,0.0551666066110075,5.3,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
2,Afghanistan,AFG,2001,150.863,..,..,0.0552927191691124,..,..,..,...,0.1,..,..,..,0,12.3246202468872,..,652860,..,..
3,Afghanistan,AFG,2002,148.141,38.6278918638443,..,0.0668101379335566,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,0.372506682976489
4,Afghanistan,AFG,2003,143.37,37.4188554431481,14.3,0.0730049683971786,10.3,..,..,...,0.1,..,..,..,0.544260025024414,12.5488901138306,..,652860,..,0.405407508087606

In [12]:
df_restructured.dtypes

country_name                                                                                       object
country_code                                                                                       object
year                                                                                               object
adolescent_fertility_rate_(births_per_1,000_women_ages_15-19)                                      object
agriculture_forestry_and_fishing_value_added_(%_of_gdp)                                            object
births_attended_by_skilled_health_staff_(%_of_total)                                               object
co2_emissions_(metric_tons_per_capita)                                                             object
contraceptive_prevalence_any_method_(%_of_married_women_ages_15-49)                                object
electric_power_consumption_(kwh_per_capita)                                                        object
energy_use_(kg_of_oil_equivalent_per_capita)                                                       object
exports_of_goods_and_services_(%_of_gdp)                                                           object
external_debt_stocks_total_(dod_current_us$)                                                       object
fertility_rate_total_(births_per_woman)                                                            object
foreign_direct_investment_net_(bop_current_us$)                                                    object
foreign_direct_investment_net_inflows_(bop_current_us$)                                            object
forest_area_(sq._km)                                                                               object
gdp_(current_us$)                                                                                  object
gdp_growth_(annual_%)                                                                              object
gdp_per_capita_(current_us$)                                                                       object
gni_per_capita_atlas_method_(current_us$)                                                          object
gni_per_capita_ppp_(current_international_$)                                                       object
gni_atlas_method_(current_us$)                                                                     object
gni_ppp_(current_international_$)                                                                  object
gross_capital_formation_(%_of_gdp)                                                                 object
high-technology_exports_(%_of_manufactured_exports)                                                object
immunization_measles_(%_of_children_ages_12-23_months)                                             object
imports_of_goods_and_services_(%_of_gdp)                                                           object
income_share_held_by_lowest_20%                                                                    object
industry_(including_construction)_value_added_(%_of_gdp)                                           object
inflation_gdp_deflator_(annual_%)                                                                  object
inflation_consumer_prices_(annual_%)                                                               object
life_expectancy_at_birth_total_(years)                                                             object
market_capitalization_of_listed_domestic_companies_(%_of_gdp)                                      object
merchandise_trade_(%_of_gdp)                                                                       object
military_expenditure_(%_of_gdp)                                                                    object
mobile_cellular_subscriptions_(per_100_people)                                                     object
mortality_rate_under-5_(per_1,000_live_births)                                                     object
net_oda_received_per_capita_(current_us$)                                                          object
net_barter_terms_of_trade_index_(2015_=_100)                                                       object
net_migration                                                                                      object
personal_remittances_paid_(current_us$)                                                            object
population_growth_(annual_%)                                                                       object
population_total                                                                                   object
poverty_headcount_ratio_at_national_poverty_lines_(%_of_population)                                object
prevalence_of_hiv_total_(%_of_population_ages_15-49)                                               object
prevalence_of_underweight_weight_for_age_(%_of_children_under_5)                                   object
primary_completion_rate_total_(%_of_relevant_age_group)                                            object
revenue_excluding_grants_(%_of_gdp)                                                                object
school_enrollment_primary_and_secondary_(gross)_gender_parity_index_(gpi)                          object
school_enrollment_secondary_(%_gross)                                                              object
start-up_procedures_to_register_a_business_(number)                                                object
surface_area_(sq._km)                                                                              object
total_debt_service_(%_of_gni)                                                                      object
water_productivity_total_(constant_2015_us$_gdp_per_cubic_meter_of_total_freshwater_withdrawal)    object
dtype: object

In [24]:
df_restructured.to_csv('Filtered_World_Bank.csv', index=False)

In [21]:
df_restructured.head()

,country_name,country_code,year,"adolescent_fertility_rate_(births_per_1,000_women_ages_15-19)",agriculture_forestry_and_fishing_value_added_(%_of_gdp),births_attended_by_skilled_health_staff_(%_of_total),co2_emissions_(metric_tons_per_capita),contraceptive_prevalence_any_method_(%_of_married_women_ages_15-49),electric_power_consumption_(kwh_per_capita),energy_use_(kg_of_oil_equivalent_per_capita),...,prevalence_of_hiv_total_(%_of_population_ages_15-49),prevalence_of_underweight_weight_for_age_(%_of_children_under_5),primary_completion_rate_total_(%_of_relevant_age_group),revenue_excluding_grants_(%_of_gdp),school_enrollment_primary_and_secondary_(gross)_gender_parity_index_(gpi),school_enrollment_secondary_(%_gross),start-up_procedures_to_register_a_business_(number),surface_area_(sq._km),total_debt_service_(%_of_gni),water_productivity_total_(constant_2015_us$_gdp_per_cubic_meter_of_total_freshwater_withdrawal)
0,Afghanistan,AFG,1999,154.416,..,..,0.0582468417051747,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
1,Afghanistan,AFG,2000,152.572,..,12.4,0.0551666066110075,5.3,..,..,...,0.1,..,..,..,..,..,..,652860,..,..
2,Afghanistan,AFG,2001,150.863,..,..,0.0552927191691124,..,..,..,...,0.1,..,..,..,0,12.3246202468872,..,652860,..,..
3,Afghanistan,AFG,2002,148.141,38.6278918638443,..,0.0668101379335566,..,..,..,...,0.1,..,..,..,..,..,..,652860,..,0.372506682976489
4,Afghanistan,AFG,2003,143.37,37.4188554431481,14.3,0.0730049683971786,10.3,..,..,...,0.1,..,..,..,0.544260025024414,12.5488901138306,..,652860,..,0.405407508087606

In [22]:
df_restructured.shape

(4557, 54)

In [26]:
# Number of missing values in each row
missing_values_per_row_latest = df_restructured.isnull().sum(axis=1)

# Show rows where the number of missing values is greater than 0
rows_with_missing_values_latest = missing_values_per_row_latest[missing_values_per_row_latest > 0]

rows_with_missing_values_latest

Series([], dtype: int64)